body{
     
    background-image: url(images/fondo.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
    color: black;
}

.table { border-collapse: collapse; text-align: left; width: 100%; 
  font: normal 10px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 10px solid #008BD1; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; 
   padding: 16px 20px; 
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #004D73), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #004D73 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D73', endColorstr='#00557F');background-color:#004D73; color:#FFFFFF; font-size: 17px; font-weight: bold; border-left: 0px solid #004161; 
 border: none; 
  color: #53B5AB; font-size: 19px;font-weight: normal; 
   background: #E1EEF4; color: #00496B; 
   border-left: none; 
   border-bottom: none; }

.boton{
    background: #FFFFFF;
    text-align: center;
    margin-top: 0%;
    color: black;
    font-size: 20px;
    font-style: initial;
    margin-left: 0%;
}

 

.btnNuevo{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 37px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


    


form{
    width: 125 px;
    margin: auto;
   background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 120px;
    margin-left: 30%;
    margin-right: 25%;
    border-radius: 0px;
    font-size: 200%;
    align-content: center;
}

h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;

}
input [type=submit]{
    width: 50%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
     background: #FFFFFF;
}

input {
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
     background: #FFFFFF;
   
} 
.btnInicio {
    width: 30%;
    margin-bottom: 30px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
     background: #FFFFFF;
     align-content: right;
   
} 

#boton{
    color: #fff;
    padding: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    
}
#boton:hover{
    cursor: pointer;
}