$def with (form)
<html>
    <head>
        <LINK REL=StyleSheet HREF="static/css/estiloLogin.css" TYPE="text/css" >
       
        
        <title> Inicio de Sesión</title>
    </head>
    <body>
        <center>
        <h1> Inicio De Sesión </h1>
        </center>
<center>
      <div id="div1">
<form name="main" method="post"> 


<table>
    <tr>
        <th>
            <label for="usuario" class="txtBlanco">Usuario</label>
        </th>
    <td>
        <input type="text" id="usuario" name="usuario"/>
        
    </td>
    </tr>
    <tr>
        <th>
            <label for="contrasena"  class="txtBlanco">Contraseña</label>
        </th>
        <td>
            <input type="password" id="contrasena" name="contrasena"/>
        </td>
     </tr>
 </table>
<label  class="txt"">Usuario o Contraseña Incorrectos</label>
<input type="submit" class="btnInicio"/>    </form>

      </div>
</center>
    </body>